*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #444444;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form input, #register-form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

#login-form button, #register-form button {
    padding: 10px;
    font-size: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}